<!DOCTYPE html>
<html>
    <head>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.js"></script>
    </head>
    <title>
        Enter Data
    </title>
    <body>
            <form method="POST">
                <tr>
                    POINT 1
                <td>
                    X
                    <input type="text" name="X1" value="" /> 
                </td>
            </tr>
                <td>
                    Y
                    <input type="text" name="Y1" value="" />
                </td>  

                <tr>
                    POINT 2
                <td>
                    X
                    <input type="text" name="X2" value="" /> 
                </td>
                <td>
                    Y
                    <input type="text" name="Y2" value="" />
                </td>
            </tr>
            <tr>
                POINT 3
                <td>
                    X
                    <input type="text" name="X3" value="" /> 
                </td>
                <td>
                    Y
                    <input type="text" name="Y3" value="" />
                </td>
            </tr>

                <tr>
                    POINT 4
                <td>
                    X
                    <input type="text" name="X4" value="" /> 
                </td>
                <td>
                    Y
                    <input type="text" name="Y4" value="" />
                </td>
            </tr>

                <input type="submit" value="SUBMIT" />
            </form>

        </div>
    </body>
    
</html>